{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <a class="btn btn-secondary mb-4" href="{{ path('posts') }}">Return</a>
    <div class="border-black border-2 p-2 border">
        <div class="border-2 p-2 border-black">
            <div class="d-flex align-items-center w-100 justify-content-between">
            <p>{{ post.createdAt|date("j F, Y H:i") }}</p>
            <p>By {{ post.author.email }}</p>
            </div>
            {% for image in post.images %}
                <img src="{{ vich_uploader_asset(image, "imageFile") }}"  class="img-fluid" />
            {% endfor %}
            <h4>{{ post.title }}</h4>
            <p>{{ post.content }}</p>

            <a class="btn btn-danger" href="{{ path('delete_post', {id:post.id}) }}">Delete</a>
            <a class="btn btn-primary" href="{{ path('edit_post', {id:post.id}) }}">Edit</a>
            <a class="btn btn-primary" href="{{ path('image', {id:post.id}) }}">Add image</a>
        </div>
    </div>
    <div class="">
        {% for comment in post.comments %}
            <div class="border-black border-2 p-2 border mt-2 w-75">
                <p>{{ comment.createdAt|date("j F, Y H:i") }}</p>
                <p>{{ comment.content }}</p>
            </div>
        {% endfor %}
    </div>
    <div class="">
        {{ form_start(form)  }}
        {{ form_row(form.content)  }}
        <button class="btn btn-success" type="submit">comment</button>
        {{ form_end(form)  }}
    </div>
{% endblock %}